@model Portfolio32_MVCIntro.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Error != null)
{
    <h2 class="text-danger">@ViewBag.Error</h2>
}
else if (Model != null)
{
    <h1>@Model.Name</h1>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Age:</strong> @Model.Age</p>
}
<a class="btn btn-secondary mt-3" href="/Student">Back</a>
